body
{
  background-color: lavenderblush;
}

.header
{
  text-align: center;
  background-image: url("images/marble.jpg");
}

/* .avatar-bg
{
  height: 90%;
  width: 90%;
  background-color: #bbb;
  border-radius: 50%;
  /* display: inline-block; 
} */

.avatar
{
  border-radius: 50%;
}
