body
{
  background-color: lavenderblush;
  font-family: Arial;
  text-align: center;
}

h1
{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   background-image: url("images/ombre.png");
}

.goldStrip
{
  background-image: url("images/ombre.png");
  color: #cc9900;
  font-size: 3%;
}

.header
{
  text-align: center;
  background-image: url("images/marble.jpg");
  color: #cc9900;
  font-family: 'Copperplate';
}

.avatar
{
  border-radius: 50%;
}

.jobDesc
{
  font-family: 'Papyrus';
  color: black;
}
