body
{
  background-color: lavenderblush;
  font-family: Arial;
  text-align: center;
}

h1
{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Monaco;
  background-image: url("images/ombre.png");
}

h2
{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Monaco;
  background-image: url("images/ombre.png");
}

a {
  color: inherit;
  text-decoration: inherit;
}

.goldStrip
{
  background-image: url("images/ombre.png");
  color: #cc9900;
  font-size: 3%;
}

.header
{
  background-image: url("images/marble.png");
}

.avatar
{
  border-radius: 50%;
}

.contents
{
  /* color: #cc9900; */
  /* text-decoration: none; */
}
